<!DOCTYPE html>
<html>

<head>
    <title>Image URLs</title>
</head>

<body>
    <h1>Image URLs:</h1>
    <ul>
        <% for (let url of urls) { %>
            <li><img src="<%= url %>"></li>
            <% } %>
    </ul>
</body>

</html>